<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="body">
    <div class="container">

        
        <div id="birthdate-form-container" class="hidden">
            <form action="/add-birthdate" method="POST" class="birthdate-form">
                <input type="hidden" name="userId" value="<%= user._id %>">

                <input class="input" type="text" id="name" name="name" required placeholder="Nome do aniversariante">

                <input class="input" type="date" id="birthdate" name="birthdate" required>

                <button class=" pacifico-regular" type="submit" class="submit-btn">Adicionar</button>
            </form>
        </div>
        <%- include('partials/navbar-dashboard.ejs') %>
        <div class="dashboard">


            <h1 class="pacifico-regular">Aniversários</h1>

            
            <div class="add-birthdate pacifico-regular sobrepor">
                <a href="#" id="show-form">+</a>
            </div>


            <div class="pessoas">
                <% user.birthdates.forEach((aniversario) => { %>
                    <div class="pessoa sobrepor">
                        <h3><%= aniversario.name %></h3>
                        <p>
                            <% 
                                const date = new Date(aniversario.date);
                                const day = String(date.getUTCDate()).padStart(2, '0');
                                const month = String(date.getUTCMonth() + 1).padStart(2, '0');
                                const year = date.getUTCFullYear();
                                const formattedDate = `${day}/${month}/${year}`;
                            %>
                            <%= formattedDate %>
                        </p>

                        <form action="/delete-birthdate" method="POST" class="delete-form">
                            <input type="hidden" name="userId" value="<%= user._id %>">
                            <input type="hidden" name="birthdateId" value="<%= aniversario._id %>">
                            <button type="submit" class="delete-btn">
                                <span class="material-symbols-outlined">
                                    delete
                                </span> 
                            </button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/foot.ejs') %>

    <script>
        document.getElementById('show-form').addEventListener('click', function() {
            const formContainer = document.getElementById('birthdate-form-container');
            const button = document.getElementById('show-form');
            if (formContainer.classList.contains('hidden')) {
                formContainer.classList.remove('hidden');
                formContainer.classList.add('visible');
                button.innerHTML = "✘";
            } else {
                formContainer.classList.remove('visible');
                formContainer.classList.add('hidden');
                button.innerHTML = "+";
            }
        });
    </script>s
    
    
</body>
</html>
