<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body class="body">
    <div class="container">
        <%- include('partials/navbar-dashboard.ejs') %>
            <div class="dashboard">
                <h1 class="pacifico-regular">Aniversários</h1>

                <div class="search-container">
                    <input type="text" id="search-input" class="search-input"
                        placeholder="Pesquise por um nome">
                </div>

                <div class="sort-container">
                    <select id="sort-select" class="sort-selection">
                        <option value="name">Ordenar por Nome</option>
                        <option value="calendar">Ordenar por Data</option>
                        <option value="age">Ordenar por Idade</option>
                    </select>
                    <button id="sort-btn" class="sort-submit-btn pacifico-regular sobrepor">
                        ↑↓
                    </button>

                    <div class="add-birthdate pacifico-regular sobrepor">
                        <a href="#" id="show-form">+</a>
                    </div>
                </div>

                <div class="pessoas">
                    <form id="inline-add-form" action="/app/add-birthdate" method="POST"
                        class="pessoa sobrepor new-person-card" style="display: none;">
                        <input type="hidden" name="userId" value="<%= user._id %>">

                        <input type="text" id="new-name" name="name" required placeholder="Nome da pessoa"
                            class="inline-input-name">

                        <input type="text" id="new-birthdate" name="birthdate" required class="inline-input-date"
                            placeholder="Data (dd/mm/aaaa)" onfocus="(this.type='date')"
                            onblur="if(!this.value) this.type='text'">

                        <div class="action-buttons">
                            <button type="button" id="cancel-add" class="cancel-btn material-symbols-outlined">
                                close
                            </button>
                            <button type="submit" class="save-btn material-symbols-outlined">
                                check
                            </button>
                        </div>
                    </form>

                    <template id="card-pessoa-template">
                        <div class="pessoa sobrepor" data-name="" data-age="" data-calendar="">
                            <h3 class="card-name"></h3> <!-- classe criada para facilitar a identificação -->
                            <p class="card-date"></p> <!-- classe criada para facilitar a identificação -->

                            <form  action="/app/delete-birthdate" method="POST" class="delete-form">
                                <input type="hidden" name="userId" value="<%= user._id %>">
                                <input type="hidden" name="birthdateId" value=""> 
                                <button type="submit" class="delete-btn">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        </div>
                    </template>

                    <% user.birthdates.forEach((aniversario)=> {
                        // Criamos as variáveis fora do comentário para não haver erro de leitura
                        const date = new Date(aniversario.date);
                        const day = String(date.getUTCDate()).padStart(2, '0');
                        const month = String(date.getUTCMonth() + 1).padStart(2, '0');
                        const year = date.getUTCFullYear();

                        const formattedDate = day + '/' + month + '/' + year;
                        const calendarSortValue = month + day;
                        %>
                        <div class="pessoa sobrepor" data-name="<%= aniversario.name %>"
                            data-age="<%= date.getTime() %>" data-calendar="<%= calendarSortValue %>">

                            <h3 class="card-name">
                                <%= aniversario.name %>
                            </h3>
                            <p class="card-date">
                                <%= formattedDate %>
                            </p>

                            <form  action="/app/delete-birthdate" method="POST" class="delete-form">
                                <input type="hidden" name="userId" value="<%= user._id %>">
                                <input type="hidden" name="birthdateId" value="<%= aniversario._id %>">
                                <button type="submit" class="delete-btn">
                                    <span class="material-symbols-outlined">delete</span>
                                </button>
                            </form>
                        </div>
                        <% }) %>
                </div>
            </div>
    </div>

    <%- include('partials/footer.ejs') %> <%- include('partials/foot.ejs') %>
</body>

</html>